$primary: #0e0e0e;
$secondary: #926a29;
$tertiary: #ffffff;

$primary-med: #1b1b1b;
$tertiary-med: #e4e4e4;

$primary-light: #777777;
$secondary-light: #e4b971;

$primary-lighter: #a7a7a7;

$header: #181c20;
