@import 'index';

.pageContent {
	padding: 15vh 1em;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	gap: 5em;

	.pageText {
		h2 {
			font-family: 'Rufina', serif;
			font-weight: bold;
			line-height: 1.5em;
		}

		.divider {
			color: $secondary-light;
			opacity: 100%;
			width: 8em;
			margin-bottom: 3em;
		}

		p,
		label {
			font-size: 0.9rem;
			color: $primary-light;
		}

		br {
			margin-bottom: 2em;
		}

		form {
			margin: 4em 0;

			label {
				width: 40%;
				margin-top: 0;
				vertical-align: text-top;
			}

			input,
			textarea {
				vertical-align: text-top;
				box-sizing: border-box;
				border: 1px solid $primary-lighter;
				font-size: 0.9rem;
				padding: 0.35em;
				width: 60%;

				&:focus {
					border: 1px solid $secondary-light;
					outline: none;
				}
			}

			.btnSubmit {
				margin-top: 3em;
				text-align: center;
			}
		}

		.disclaimer {
			font-style: italic;
			font-size: 0.8em;
		}
	}

	.contactImg {
		transition: all 1.2s ease;

		&:hover {
			filter: brightness(70%);
			transform: scale(1.05);
		}
	}
}

@include md {
	.pageContent {
		padding: 25vh 2em;

		.pageText {
			h2 {
				font-size: 2rem;
			}
		}
	}
}

@include lg {
	.pageContent {
		padding: 25vh 6em;
		flex-direction: row;
		gap: 3em;

		.pageText {
			width: 70%;

			p {
				font-size: 1rem;
			}
		}
	}
}

@include xl {
	.pageContent {
		padding: 25vh 10em;
	}
}

@include xxl {
	.pageContent {
		padding: 25vh 15em;

		.pageText {
			width: 50%;

			h2 {
				font-size: 2.25rem;
			}
		}
	}
}
