// Bootstrap
@import url('bootstrap/dist/css/bootstrap.min.css');

// SASS
@import './index';

// Slick Slider
@import url('~slick-carousel/slick/slick.css');
@import url('~slick-carousel/slick/slick-theme.css');

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Rufina:wght@400;700&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

* {
	box-sizing: border-box;
}

.slick-slider {
	display: flex;
	align-items: center;

	.slick-arrow {
		font-size: 1.5em;

		color: $tertiary;
		opacity: 0.6;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}
}

// React-Bootstrap Navbar
.nav-link {
	font-size: 0.9rem;
	font-weight: 600;
	color: $tertiary !important;
}

.navbar-toggler {
	border: none;

	&:focus {
		box-shadow: none;
	}
}

.dropdown-menu {
	background-color: $primary;

	.dropdown-item {
		color: $tertiary;
		font-size: 0.9rem;
		font-weight: 600;

		&:hover {
			color: $secondary-light;
			background-color: $primary;
		}
	}
}

// Custom Scrollbar
::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: $tertiary-med;
}

::-webkit-scrollbar-thumb {
	background: $primary-light;
	border-radius: 8px;
	border: 2px solid $tertiary-med;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@include lg {
	.slick-slider {
		.slick-arrow {
			font-size: 2em;
			margin: 0.3em;
		}
	}
}
