@import 'index';

.pageContent {
	padding: 25vh 15em;
	justify-content: space-between;

	h2 {
		font-family: 'Rufina', serif;
		font-weight: bold;
		line-height: 1.5em;
	}

	.divider {
		color: $secondary-light;
		opacity: 100%;
		width: 5em;
		margin-bottom: 3em;
	}

	.topContainer,
	.bottomContainer {
		display: flex;
		justify-content: space-between;

		h4,
		h5 {
			font-family: 'Rufina', serif;
			font-weight: bold;
			line-height: 1.2em;
		}

		h5 {
			font-size: 1.1rem;
		}

		p {
			font-size: 0.9rem;
			color: $primary-light;
		}

		span {
			color: $primary;
			font-weight: bold;
		}

		.topLContainer,
		.topRContainer,
		.bottomLContainer,
		.bottomRContainer {
			width: 40%;
			margin-bottom: 5em;

			.containerTitle {
				margin-bottom: 3em;
			}
		}
	}
}
