@import '../../styles/index';

// Navigation Bar
.navContainer {
	background-color: $primary;
	opacity: 0.9;
	padding: 0.5em 1em;
	z-index: 1;

	.brand {
		font-family: 'Rufina', serif;
		font-weight: bold;
		color: $secondary-light !important;
	}

	.navLink {
		color: $tertiary !important;
		font-size: 0.9rem;
		font-weight: 600;
		transition: 1s;

		&:hover {
			color: $secondary-light !important;
		}
	}
}

// Breakpoints
@include md {
	.navContainer {
		padding: 0.8em 2em;
	}
}

@include lg {
	.navContainer {
		padding: 0.8em 6em;
	}
}

@include xl {
	.navContainer {
		padding: 0.8em 10em;
	}
}

@include xxl {
	.navContainer {
		padding: 0.8em 15em;
	}
}
