@import '../../styles/index';

.divider {
	color: $secondary-light;
	opacity: 100%;
	width: 15em;
	margin-bottom: 7em;
}

.medContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.storyImg {
		transition: all 1s ease;

		&:hover {
			filter: brightness(70%);
			transform: translateY(-2%);
		}
	}
}

.textContainer {
	margin: 5em 0;
}

// Breakpoints
@include lg {
	.medContainer {
		flex-direction: row;
		gap: 3em;
	}

	.textContainer {
		width: 70%;
	}
}

@include xl {
	.textContainer {
		width: 40%;
	}
}
